.row
  .well#scores
    %h2 Vote scores

    %ul.progress-bars
      %li.fist_place
        %ul
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'


        .progress.progress-success
          .bar{:style => "width: 70%"}
            %p Chinol


      %li.second_place
        %ul
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'


        .progress.progress-warning
          .bar{:style => "width: 40%"}
            %p Kebab


      %li.third_place
        %ul
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => 'User name'
          %li= image_tag 'https://si0.twimg.com/profile_images/1756760977/pawel_kowalski_big_normal.jpg', :alt => 'User name'


        .progress.progress-danger
          .bar{:style => "width: 10%"}
            %p Pizza
