.row
  .well#places
    = link_to 'Start vote!', '#', :class => 'btn btn-primary btn-big', :id => 'end_choosing_places'


    %h2 Places


    %ol.nav.nav-tabs.nav-stacked.places_list
      - @places.each do |place|
        %li
          = image_tag 'https://si0.twimg.com/profile_images/1422248111/195627_100000179755620_6126589_n_normal.jpg', :alt => place.user.screen_name
          = place.name

    = form_for [:event, @place], html: {class: 'form_container'} do |f|
      = f.text_field :name, placeholder: 'Add new place', type: 'text', class: 'add_place'